*.pth
*.ckpt
*.jpg
*.png
*.zip
*.tar
*.ipynb
*.pyc
.nfs*
.dumbo.json
.DS_Store
.*.swp
*.tmp
*.pkl

ckpt*/
*dataset*/
__pycache__/
**/__pycache__/**
.ipynb_checkpoints/
**/.mypy_cache/*
.mypy_cache/*
.vscode
**/runs/**

